.aider*
.secret
*.bun-build
cmd
example/
node_modules/
secret*
src/lib/pitono/__pycache__
src/lib/pitono/pitono.egg-inf
src/lib/pitono/pitono.egg-info
src/lib/pitono/PM/__pycache__
src/lib/pitono/venv/
src/lib/rusto/target
testeranto
.vscode