.aider*
.secret
.vscode
*.bun-build
cmd
example/
node_modules/
secret*
src/grafeovidajo/node_modules/.bin/
src/lib/pitono/__pycache__
src/lib/pitono/bin
src/lib/pitono/pitono.egg-info
src/lib/pitono/PM/__pycache__
src/lib/pitono/venv/
src/lib/rusto/target
src/lib/tiposkripto/node_modules/tsx/node_modules/.bin/
testeranto
venv
agent.md
node_modules/grafeovidajo
node_modules/testeranto
node_modules/testeranto-react
node_modules/testeranto-stilo
agent.md
node_modules/grafeovidajo
node_modules/testeranto
node_modules/testeranto-react
node_modules/testeranto-stilo
agent.md
node_modules/grafeovidajo
node_modules/testeranto
node_modules/testeranto-react
node_modules/testeranto-stilo
agent.md
node_modules/grafeovidajo
node_modules/testeranto
node_modules/testeranto-react
node_modules/testeranto-stilo
